@media screen and (min-width: 1200px) {
	/* ---------HEADER----------- */

	.header-navigation {
		gap: 180px;
	}

	.header-list {
		gap: 40px;
	}

	.header-btn {
		margin-left: auto;
	}

	/* --------------HERO-------------- */

	.hero {
		padding: 50px 0;

		height: 800px;
	}

	.hero .container {
		display: flex;
		gap: 30px;
	}

	.hero-img {
		width: 50%;
	}

	.hero-content {
		width: 50%;
	}

	.hero-title {
		font-size: 52px;
		line-height: 0.9;

		margin-bottom: 45px;
	}

	.hero-description {
		margin-bottom: 45px;
	}

	/* --------------WORK-------------- */

	.work {
		padding: 100px 0;
	}

	.work-item {
		max-width: 358px;
	}

	/* -----------Сompetence--------------- */

	.certificates {
		padding: 100px 0;
	}

	.certificates-item {
		width: calc((100%-72px) / 4);
	}

	/* --------------Services------------- */

	.services {
		padding: 100px 0;
	}

	.services-list {
		justify-content: space-between;
	}

	/* --------------Registration------------- */

	.registration {
		padding: 100px 0;
	}

	.registration-item {
		width: calc((100%-60px) / 3);
	}

	/* ------------FAQ------------ */

	.faq-section {
		padding: 100px 0;
	}

	/* -------------excerption----------- */

	.excerption-description {
		max-width: 680px;
		font-size: 30px;
	}

	/* ----------contact---------- */

	.contact-logo {
		width: 270px;
	}

	/* ------------footer----------- */

	.offer-link {
		font-size: 15px;
	}

	/* ------------Page 2---------- */

	/* ------------Club----------- */

	.club {
		padding: 70px 0 100px;
	}

	.club-content-text {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-bottom: 30px;
	}

	.club-title {
		text-align: center;

		margin-bottom: 52px;
	}

	.club-description {
		width: 70%;
		text-align: center;
	}

	.club-list {
		display: flex;
		justify-content: center;
		gap: 40px;
	}

	.club-item {
		max-width: 320px;
		padding: 20px;
		border-radius: 7px;
		border: 1px solid var(--logo-color);

		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 2px 1px rgba(46, 47, 66, 0.08);
	}

	.club-img {
		display: flex;
		justify-content: center;

		max-height: 200px;
	}

	.club-text {
		padding-top: 25px;
		margin-bottom: 20px;

		height: 230px;
	}

	.club-subtitle {
		text-align: center;
		margin-bottom: 15px;
	}

	.club-text-description {
		margin-bottom: 18px;
		height: 130px;

		text-align: center;
		font-size: 14px;
		line-height: 1.57;
	}

	.clube-price {
		text-align: center;

		color: var(--link-hover-text);
		font-weight: 700;
	}

	.club-btn {
		display: flex;
		justify-content: center;
	}

	/* --------------Modal--------------- */

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
		width: 100%;
		height: 100%;
		background-color: rgba(46, 47, 66, 0.4);

		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.backdrop.is-hidden {
		opacity: 0;
		pointer-events: none;
	}

	.modal {
		padding: 24px;

		width: 410px;
		height: 584px;
		border-radius: 4px;
		border: 1px solid var(--logo-color);
		background-color: var(--primary-bg-color);
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* ----------Form---------- */

	.modal-btn {
		display: flex;
		justify-content: flex-end;

		margin-bottom: 25px;
	}

	.btn-icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 24px;
		height: 24px;
		border-radius: 50%;

		background-color: var(--logo-color);
		border: 1px solid rgba(0, 0, 0, 0.1);
		color: var(--primary-bg-color);

		cursor: pointer;

		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.btn-icon:is(:hover, :focus) {
		border: none;
		background-color: var(--link-hover-text);
		color: var(--btn-text-color);
	}

	.modal-icon {
		fill: currentColor;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.form-title {
		font-weight: 700;

		text-align: center;
		margin-bottom: 20px;

		color: var(--title-color);
	}

	.modal-group {
		margin-bottom: 8px;

		position: relative;
	}

	.form-label {
		display: block;

		margin-bottom: 5px;

		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.04em;

		color: #8e8f99;
	}

	.form-input {
		display: block;
		width: 100%;
		height: 40px;

		font-size: 14px;
		color: var(--text-color);

		padding: 8px 38px;

		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;

		outline: none;

		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.form-input:is(:hover, :focus) {
		border-color: var(--logo-color);
	}

	.form-input:is(:hover, :focus) + .form-icon {
		fill: var(--link-hover-text);
	}

	.form-icon {
		position: absolute;
		left: 30px;
		top: 56%;
		transform: translateX(-70%);

		fill: currentColor;
	}

	.modal-group-textarea {
		margin-bottom: 25px;
	}

	.form-textarea {
		display: block;
		width: 100%;
		height: 100px;
		padding: 16px;

		font-size: 14px;
		color: var(--text-color);

		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;

		outline: none;
		resize: none;

		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.form-textarea:is(:hover, :focus) {
		border-color: var(--logo-color);
	}

	.modal-group-btn {
		display: flex;
		flex-direction: column;
	}

	.modal-link {
		display: block;
		margin: 0 auto;

		width: 50%;
		text-align: center;
		margin-bottom: 8px;

		padding: 10px 15px;
		border-radius: 8px;
		border: 1px solid var(--logo-color-2);
		background-color: var(--logo-color);
		color: var(--primary-bg-color);

		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.modal-link:is(:hover, :focus) {
		background-color: var(--link-hover-text);
	}

	.modal-offer {
		text-align: center;
		font-size: 10px;
	}
}
