@media screen and (min-width: 1200px) {
	/* ---------HEADER----------- */

	/* -----burger menu----- */

	.menu-body {
		gap: 200px;
	}

	.menu-list {
		gap: 40px;
	}

	.menu-link {
		font-size: 16px;
	}

	/* --------------HERO-------------- */

	.hero {
		padding: 50px 0;

		height: 800px;
	}

	.hero .container {
		display: flex;
		gap: 30px;
	}

	.hero-img {
		width: 50%;
	}

	.hero-content {
		width: 50%;
	}

	.hero-title {
		font-size: 52px;
		line-height: 0.9;

		margin-bottom: 45px;
	}

	.hero-description {
		margin-bottom: 45px;
	}

	/* --------------WORK-------------- */

	.work {
		padding: 100px 0;
	}

	.work-item {
		max-width: 358px;
	}

	/* -----------Сompetence--------------- */

	.certificates {
		padding: 100px 0;
	}

	.certificates-item {
		width: calc((100%-72px) / 4);
	}

	/* --------------Services------------- */

	.services {
		padding: 100px 0;
	}

	.services-list {
		justify-content: space-between;
	}

	/* --------------Registration------------- */

	.registration {
		padding: 100px 0;
	}

	.registration-item {
		width: calc((100%-60px) / 3);
	}

	/* ------------FAQ------------ */

	.faq-section {
		padding: 100px 0;
	}

	/* -------------excerption----------- */

	.excerption-description {
		max-width: 680px;
		font-size: 30px;
	}

	/* ----------contact---------- */

	.contact-logo {
		width: 270px;
	}

	/* ------------footer----------- */

	.offer-link {
		font-size: 15px;
	}

	/* ------------Page 2---------- */

	/* ------------Club----------- */

	.club-title {
		font-size: 52px;
		margin-bottom: 52px;
	}
}
