:root {
	/* header */
	--logo-color: rgb(122, 183, 167);
	--logo-color-2: rgb(72, 113, 120);

	--header-link-color: rgb(33, 86, 86);
	--header-link-hover-color: var(--logo-color);
	--header-bg: rgba(235, 233, 233, 0.3);
	/* btn */
	--btn-bg-color: var(--logo-color-2);
	--btn-text-color: rgb(255, 255, 255);
	--btn-border-color: var(--logo-color);

	--btn-bg-hover-color: var(--logo-color);
	--btn-text-hover-color: rgb(33, 86, 86);
	--btn-border-hover-color: var(--logo-color-2);
	/* main */
	--primary-bg-color: whitesmoke;
	--secondary-bg-color: rgb(224, 247, 247);
	--title-color: #2d2626;
	--text-color: #555555;
	/* font */
	--primary-font: "Open Sans", sans-serif;
	--secondaty-font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
address {
	font-style: normal;
}

body {
	background-color: var(--primary-bg-color);
	font-family: var(--primary-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text-color);

	padding-top: 75px;
}

.title {
	font-family: var(--secondaty-font);
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	color: var(--title-color);
}
.subtitle {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.26;
	text-transform: uppercase;
	color: var(--logo-color);
}
.description {
	font-size: 16px;
	line-height: 1.57;
	letter-spacing: 0.02em;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {
	font-weight: 600;
	font-family: inherit;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	cursor: pointer;

	color: var(--btn-text-color);
	background-color: var(--btn-bg-color);
	padding: 12px 20px;
	border-radius: 14px;
	border: 2px solid var(--btn-border-color);
}
.btn:hover,
.btn:focus {
	color: var(--btn-text-hover-color);
	background-color: var(--btn-bg-hover-color);
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ---------HEADER----------- */

.header {
	background-color: var(--header-bg);

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	border-bottom: 2px solid rgba(231, 232, 233, 0.443);
}

.header .container {
	display: flex;
	align-items: center;
}

.header-navigation {
	display: flex;
	align-items: center;
	gap: 90px;
}

.logo {
	padding: 25px 0;

	font-family: var(--secondaty-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
}

.logo .ps {
	color: var(--logo-color);
}

.logo .name {
	color: var(--logo-color-2);
}

.header-list {
	display: flex;
	gap: 25px;
}

.header-link {
	color: var(--header-link-color);

	padding: 20px 0 10px;
	position: relative;
}

.course {
	color: var(--logo-color);

	font-weight: 900;
}

.header-link:hover,
.header-link:focus {
	color: var(--header-link-hover-color);
}

.current:hover:after {
	content: "";
	display: block;
	min-width: 100%;
	height: 2px;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: var(--header-link-hover-color);
	border-radius: 2px;
}

/* .header-link.current {
	color: var(--header-link-hover-color);
} */

.header-btn {
	margin-left: auto;
}

/* --------------HERO-------------- */

.hero {
	padding: 50px 0;
	/* background-image: url(/images/font.jpeg); */

	max-width: 1450px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;

	background: linear-gradient(64deg, var(--logo-color) 15%, var(--logo-color-2) 75%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero .container {
	display: flex;
	gap: 30px;
}

.hero-img {
	width: 50%;
}

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.hero-title {
	font-family: var(--secondaty-font);
	font-size: 52px;
	line-height: 0.9;
	letter-spacing: 0.05em;
	text-align: center;

	margin-bottom: 45px;
}

.hero-description {
	color: #000;

	margin-bottom: 45px;
}

.hero-btn {
}

/* --------------WORK-------------- */

.work {
	padding: 100px 0;
}

.work-title {
	text-align: center;

	margin-bottom: 72px;
}

.work-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	column-gap: 24px;
}

.work-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;

	box-shadow: -1px 0px 25px 5px rgba(80, 136, 187, 0.29);
	border-radius: 7px;

	width: calc((100%-48px) / 3);
	max-width: 374px;
	padding: 20px 20px;
}
.work-item:hover {
	border: 1px solid var(--btn-border-color);
	background-color: var(--logo-color-2);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.work-item img {
	margin-bottom: 20px;
}

.work-subtitle {
	margin-bottom: 15px;
}

/* -----------Сompetence--------------- */

.certificates {
	padding: 100px 0;

	/* background-color: rgb(121, 121, 63); */

	background: linear-gradient(54deg, var(--logo-color-2) 40%, var(--logo-color) 67%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.certificates-title {
	text-align: center;

	margin-bottom: 72px;
}

.certificates-list {
	display: flex;
	gap: 30px;
}

.certificates-item {
	width: calc((100%-72px) / 4);

	border: 3px solid rgb(66, 67, 65);
}

/* --------------Services------------- */

.services {
	padding: 100px 0;
	background-image: url(./images/malibu.jpeg);
}

.container {
}

.services-title {
	text-align: center;

	margin-bottom: 72px;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px 24px;
}

.services-item {
	display: flex;
	/* width: calc((100%-24px) / 2); */
}
.services-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	padding: 25px;

	min-width: 273px;
	background-color: var(--logo-color-2);
}

.services-content p {
	color: rgb(255, 255, 255);
  
  font-size: 14px;
  text-align: center;
}

.services-subtitle {
  text-align: center;
}

.services-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;

	background-color: rgba(255, 255, 255, 0.3);
}

.services-social-link:hover{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  border-radius: 35%;
}

.services-icon{
  fill: rgb(255, 255, 255);
}

/* --------------Registration------------- */

.registration {
	padding: 100px 0;
}

.registration-title {
	text-align: center;

	margin-bottom: 72px;
}

.registration-list {
	display: flex;
	gap: 30px;
}

.registration-item {
	display: flex;
}

.registration-number {
	font-family: var(--secondaty-font);
	font-weight: 800;
	font-size: 28px;
	line-height: 1.33;
	color: var(--logo-color-2);
	border: 5px solid var(--logo-color);
	border-radius: 50%;
	width: 60px;
	height: 60px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 10px;
}

.registration-content {
	display: flex;
	flex-direction: column;

	max-width: 290px;
}

.registration-subtitle {
	margin-bottom: 15px;
}

.registration-description {
}

.registration-btn {
	display: flex;
	justify-content: center;

	margin-top: 40px;
}

/* ------------FAQ------------ */

.faq-section {
	padding: 100px 0;
}

.wraper {
	width: 70%;
}

.faq-title {
	text-align: center;

	margin-bottom: 72px;
}

.acardion {
	background-color: white;
	color: black;

	cursor: pointer;
	font-size: 20px;
	width: 100%;
	padding: 20px 30px;
	border: none;
	outline: none;
	transition: 0.4s;

	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.active,
.acardion:hover {
	background-color: var(--logo-color);
  color: rgb(255, 255, 255);
}

.panel {
	padding: 20px;
	background-color: white;
	overflow: hidden;

	display: none;
}

.panel p {
	color: rgba(0, 0, 0, 0.6);
	font-size: 16px;
	line-height: 1.4;
}

.faq {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 10px 0;
}

.faq.active {
	border: none;
}

/* -------------excerption----------- */

.excerption {
	padding: 50px 0;

	background-color: var(--secondary-bg-color);
}

.excerption .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.excerption-description {
	max-width: 650px;

	font-size: 30px;
	text-align: center;
	font-style: oblique;
}

.excerption-description {
	margin-bottom: 30px;
}
.author {
	text-align: center;
}

/* ----------contact---------- */

.contact {
	background-color: #40426d;
	padding: 50px 0 10px;
	border-bottom: 1px solid rgb(192, 191, 190);
}

.address-container {
	display: flex;
	justify-content: space-between;

	padding-bottom: 15px;
}

.contact-list {
	width: 285px;
}

.contact-address {
	margin-bottom: 15px;
}

.contact-list .link {
	/* display: block; */

	color: #ffffff;
}

.contact-link {
}

.contact-icon {
}

.contact-item {
}

.contact-mail {
}

.contact-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
}

.contact-logo .logo {
	padding: 0;
}

.contact-social {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 270px;

	color: rgb(255, 255, 255);
}

.contact-social .link {
	color: #ffffff;
}

.social-item-insta {
	margin-bottom: 15px;
}

.social-insta {
}

.social-teleg {
}

/* ------------footer----------- */

.logo-pay {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 5px 0 5px;
}

.offer-link {
	font-weight: 500;
	margin-bottom: 7px;
	color: var(--btn-text-hover-color);
}

.offer-link:is(:hover, :focus) {
	color: rgb(45, 42, 136);
}
.copyright {
	font-size: 14px;
	line-height: 1.2;
}
