@media screen and (min-width: 768px) {
	/* ---------HEADER----------- */

	/* -----burger menu----- */

	.menu-body {
		display: flex;
		gap: 43px;
	}

	.menu-list {
		display: flex;
		gap: 18px;
	}

	.menu-link {
		display: block;

		color: var(--header-link-color);
		padding: 14px 0;

		font-weight: 700;
		font-size: 14px;
		line-height: 1.11;
	}

	.menu-link--active {
		color: var(--header-link-color-js);
	}

	.burger-btn--active {
		background-color: azure;
	}

	.menu-link.course {
		color: var(--link-hover-text);
	}

	.menu-wraper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-toggle-close {
		display: none;
	}

	.burger-social-list {
		display: none;
	}

	/* --------------HERO-------------- */

	.hero {
		padding: 75px 0;

		height: 800px;
	}

	.hero .container {
		display: flex;
		gap: 30px;
	}

	.hero-img {
		width: 40%;
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60%;
	}

	.hero-title {
		font-size: 42px;
		line-height: 0.9;

		margin-bottom: 45px;
	}

	.hero-description {
		margin-bottom: 45px;
	}

	.hero-btn {
	}

	/* --------------WORK-------------- */

	.work {
		padding: 75px 0;
	}

	.work-title {
		font-size: 42px;

		margin-bottom: 72px;
	}

	.work-item {
		max-width: 354px;
	}

	/* -----------Сompetence--------------- */

	.certificates {
		padding: 75px 0;
	}

	.certificates-title {
		font-size: 42px;

		margin-bottom: 72px;
	}

	.container-slider {
		gap: 32px;
	}

	/* --------------Services------------- */

	.services {
		padding: 75px 0;
	}

	.services-title {
		font-size: 42px;

		margin-bottom: 72px;
	}

	.services-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}

	.services-block {
		width: 100%;
	}

	.services-content {
		width: 275px;
	}

	/* --------------Registration------------- */

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		.registration-content {
			width: 100%;
		}

		.registration-list {
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	.registration {
		padding: 75px 0;
	}

	.registration-title {
		font-size: 42px;

		margin-bottom: 72px;
	}

	.registration-list {
		display: flex;
		gap: 30px;
	}

	.registration-item {
		width: 70%;
	}

	/* ------------FAQ------------ */

	.faq-section {
		padding: 75px 0;
	}

	.wraper {
		width: 70%;
	}

	.faq-title {
		font-size: 42px;
		margin-bottom: 72px;
	}

	.acardion {
		font-size: 20px;
		width: 100%;
		padding: 20px 30px;
	}

	.panel p {
		font-size: 16px;
	}

	/* -------------excerption----------- */

	.excerption-description {
		max-width: 480px;
		font-size: 26px;
	}

	/* ----------contact---------- */

	.contact {
		padding: 50px 0 10px;
	}

	.address-container {
		display: flex;
		justify-content: space-between;

		padding-bottom: 15px;
	}

	.contact-list {
		width: 285px;
	}

	.contact-address {
		margin-bottom: 20px;
	}

	.contact-list .link {
		color: #ffffff;
	}

	.contact-link {
		position: relative;

		fill: #ffffff;

		transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.contact-icon {
		position: absolute;
		left: -27px;
		top: 0;

		fill: currentColor;
	}

	.contact-link:is(:hover, :focus) {
		color: var(--link-hover-text);
	}

	.contact-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 170px;
	}

	.contact-social {
		flex-direction: column;
		align-items: flex-end;
		width: 270px;
	}

	.social-item-insta {
		margin-bottom: 20px;
	}

	.social-link {
		position: relative;
	}

	.contact-icon-social {
		position: absolute;
		left: -29px;
		top: 1px;
	}

	.telegram {
		padding-right: 5px;
	}

	/* ------------modal----------- */

	.offer-link {
		font-size: 10px;
	}
	/* ------------footer----------- */

	.copyright {
		font-size: 14px;
	}

	/* ------------Page 2---------- */

	/* ------------Club----------- */

	.club {
		padding: 70px 0 100px;
	}

	.club-title {
		font-size: 42px;
		margin-bottom: 42px;
	}

	.club-description {
		width: 70%;
	}
}
